<!-- tab2.page.html -->
<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>
      Login Pengguna
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>Login pengguna</h1>
  <ion-item>
    EMail: &nbsp;
    <ion-input type="email" [(ngModel)]="email" required>
      </ion-input>
  </ion-item>
  <ion-item>
    Katalaluan: &nbsp;
    <ion-input type="password" [(ngModel)]="password" required>
      </ion-input>
  </ion-item>
  <ion-button (click)="cubalogin()">
    Login
  </ion-button>

</ion-content>
